{% extends 'AppBundle:Project:layout.html.twig' %}

{% set sidebarAction = 'environments' %}
{% block project_title %}Environments{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path('app_projects') }}">{{ 'project_list.breadcrumb'|trans|desc('Projects') }}</a></li>
        <li><a href="{{ path('app_projects_show', {id: project.id}) }}">{{ project.name }}</a></li>
        <li class="active">Environments</li>
    </ul>
{% endblock %}

{% block project_content %}
    <p>
        Your can add multiple environment like <strong>prod</strong> or <strong>staging</strong> in your project.<br />
        Environment contains your ssh key used for deploying.
    </p>

    {% if not list|length %}
        <p>
            This project doesn't have any environment.
        </p>
        <p class="text-right">
            <a href="{{ path('app_projects_environments_add', {'id': project.id}) }}" class="btn btn-primary">Add Environment</a>
        </p>
    {% else %}
        <p class="text-right">
            <a href="{{ path('app_projects_environments_add', {'id': project.id}) }}" class="btn btn-primary">Add Environment</a>
        </p>

        {% for environment in list %}
            <h4 class="page-header margin-top-50"><small><a href="{{ path('app_projects_environments_edit', {'id': environment.id}) }}" class="text-info"><span class="glyphicon glyphicon-pencil"></span></a></small> &nbsp;{{ environment.name|upper }}</h4>
            {% if not environment.authentifications|length %}
                <p>
                    You doesn't have any deploy key for this environment.
                </p>
            {% else %}
                <p>
                    We have generated a SSH key your <strong>{{ environment.name }}</strong> environment.<br />
                    You need to add the following SSH public key on your servers :
                </p>

                <div class="row margin-top-30">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <pre>{{ environment.authentification.sshPublic }}</pre>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <p class="margin-top-10">
                    If necessary you can regenerate a ssh public key. The current key will be removed.
                </p>
                <div class="text-right">
                    <a data-btnOkLabel="Regenerate" data-toggle="confirmation" data-href="{{ url('app_projects_environments_regenerate', {'id': environment.id}) }}" class="btn btn-primary">Regenerate public key</a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
