{% extends layout %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% set sidebarAction = 'repositories' %}
{% block project_title %}Add {{ form.vars.data.type }} SSH Key{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path('app_projects') }}">{{ 'project_list.breadcrumb'|trans|desc('Projects') }}</a></li>
        <li><a href="{{ path('app_projects_show', {id: project.id}) }}">{{ project.name }}</a></li>
        <li><a href="{{ path('app_project_authentification_list', {id: project.id}) }}">Authentification</a></li>
        <li class="active">Add new authentification</li>
    </ul>
{% endblock %}

{% block project_content %}
    <form method="post" action="{{ path('app_project_authentification_add', {id: project.id}) }}" class="form-horizontal">
        <fieldset>
            {{ form_errors(form) }}

            {% if form.offsetExists('type') %}
                {{ form_row(form.type) }}
            {% endif %}

            {{ form_row(form.name) }}
            {{ form_row(form.ssh) }}

            <div class="text-right">
                {{ form_rest(form) }}
                {% if form.vars.data.type is none %}
                    <a href="{{ path('app_project_authentification_list', {id: project.id}) }}" class="btn btn-default">Cancel</a>
                {% endif %}
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
