{% extends 'AppBundle:Project:layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% set sidebarAction = 'webhooks' %}
{% block project_title %}Add Webhook{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{{ path('app_projects') }}">{{ 'project_list.breadcrumb'|trans|desc('Projects') }}</a></li>
        <li><a href="{{ path('app_projects_show', {id: project.id}) }}">{{ project.name }}</a></li>
        <li><a href="{{ path('app_project_webhooks', {id: project.id}) }}">Webhooks</a></li>
        <li class="active">Add a new WebHook</li>
    </ul>
{% endblock %}

{% block project_content %}
    <form method="post" action="{{ path('app_projects_webhooks_add', {id: project.id}) }}" class="form-horizontal margin-top-30">
        <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.task) }}
            {{ form_row(form.environment) }}
            {{ form_row(form.isEnabled) }}

            <div class="text-right">
                {{ form_rest(form) }}
                <a href="{{ path('app_project_webhooks', {id: project.id}) }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
